[submodule "anchor"]
	path = anchor
	url = https://github.com/jito-foundation/anchor.git
[submodule "jito-programs"]
	path = jito-programs
	url = https://github.com/jito-foundation/jito-programs.git
[submodule "jito-protos/protos"]
	path = jito-protos/protos
	url = https://github.com/jito-labs/mev-protos.git
[submodule "paladin-programs/lockup"]
	path = paladin-programs/lockup
	url = https://github.com/paladin-bladesmith/lockup-program.git
[submodule "paladin-programs/funnel"]
	path = paladin-programs/funnel
	url = https://github.com/paladin-bladesmith/funnel.git
